@page
@model DetailsModel
@{
    ViewData["Title"] = "Game Details";
}

<link rel="stylesheet" href="~/css/Details.css" />

<div class="details-page">
  <div class="page-header">
    <div>
      <div class="title">Game Details</div>
      <div class="subtitle">View the details of the selected game</div>
    </div>
  </div>
</div>
