@page
@model IndexModel
@{ 
    ViewData["Title"] = "Home page";
}

<h2>Add your game!!</h2>
<form method="post" enctype="multipart/form-data">
    <div>
        <label>Name:</label>
        <input asp-for="game.Name" />
    </div>
    <div>
        <label for="Description">Description:</label>
        <textarea id="Description" name="Description"></textarea>
    </div>
    <div>
        <label for="Picture">Picture:</label>
        <input type="file" id="Picture" name="Picture" />
    </div>
    <div>
        <label for="Category">Category:</label>
        <input type="text" id="Category" name="Category" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
